q3_2_博主互动预测.csv filter=lfs diff=lfs merge=lfs -text
q3_所有用户在线特征_天.csv filter=lfs diff=lfs merge=lfs -text
数据预处理及建模思路.docx filter=lfs diff=lfs merge=lfs -text
q1 filter=lfs diff=lfs merge=lfs -text
data_preprocessing.ipynb filter=lfs diff=lfs merge=lfs -text
q3 filter=lfs diff=lfs merge=lfs -text
作业3.rar filter=lfs diff=lfs merge=lfs -text
C1.csv filter=lfs diff=lfs merge=lfs -text
C.zip filter=lfs diff=lfs merge=lfs -text
pivot_df.csv filter=lfs diff=lfs merge=lfs -text
q4 filter=lfs diff=lfs merge=lfs -text
q4_11-20数据.csv filter=lfs diff=lfs merge=lfs -text
C.docx filter=lfs diff=lfs merge=lfs -text
q2 filter=lfs diff=lfs merge=lfs -text
C2.csv filter=lfs diff=lfs merge=lfs -text
